@model List<Investrosite.Models.Database.Post>
@{
    ViewBag.Title = "Home Page";
}


<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <a class="btn btn-primary btn-sm shadow-none" href="/home/post">Create Post</a>
            @foreach (var p in Model)
            {
                <div class="d-flex flex-column comment-section">
                    <div class="bg-white p-2">
                        <div class="d-flex flex-row user-info">

                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">@p.Name</span></div>
                        </div>
                        <div class="mt-2">
                            <p class="comment-text">@p.Description</p>
                        </div>
                    </div>
                </div>
                <hr />
            }

        </div>
</div>